/* Main Colors of the Webpage */
$main-color: #6fb04b;
$orange-color: #e99a10;
$collaborators-color: #4b8bb0;
$press-color: #b04ba8;

/* Specific Variables */
$collaborators-img-color: invert(100%) sepia(0%) saturate(1%) hue-rotate(170deg)
  brightness(103%) contrast(101%);
