@import "./variables";
@import "./navigation-bar";
@import "./header";
@import "./main";
@import "./newsletter";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 300;
}
