/* *Main */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-green: #88b04b;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
  height: 100vh;
}
/* *NAVIGATION BAR  */

.topNavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6fb04b;
  color: white;
  font-size: 20px;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.enCo-Logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navigationBar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navigationBar-links li {
  list-style: none;
}

.navigationBar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navigationBar-links li:hover {
  background-color: yellowgreen;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 950px) {
  .toggle-button {
    display: flex;
  }

  .navigationBar-links {
    display: none;
    width: 100%;
  }

  .topNavigationBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigationBar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navigationBar-links li {
    text-align: center;
  }

  .navigationBar-links li a {
    padding: 0.5rem 0.1rem;
  }

  .navigationBar-links.active {
    display: flex;
  }
}

/* *Landing Page */

.main-greeting {
  width: 100%;
  height: auto;
  position: relative;
}

.main-greeting a {
  text-decoration: none;
  min-width: 250px;
}

.landing-page {
  position: relative;
}

.image-wrapper {
  width: 1920px;
  height: auto;
}

.landing-image {
  width: 100%;
  height: auto;
}

.custom-shape-divider-bottom-1637753276 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637753276 svg {
  position: relative;
  display: block;
  width: calc(205% + 1.3px);
  height: 289px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1637753276 .shape-fill {
  fill: #ffffff;
}

.main-title {
  color: white;
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 15%;
  background-color: rgba(119, 176, 75, 1);
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 2.2em;
  min-width: 300px;
}

.installator-section-redirect {
  background-color: rgba(233, 154, 16, 1);
  border-radius: 1rem;
  padding: 0.8rem;
  color: white;
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  z-index: 2;
  left: 15%;
  top: 39%;
  min-width: 150px;
}

.community-section-redirect {
  background-color: rgba(233, 154, 16, 1);
  border-radius: 1rem;
  padding: 0.8rem;
  color: white;
  text-align: center;
  font-size: 1.5em;
  position: absolute;
  z-index: 2;
  left: 15%;
  top: 46%;
  min-width: 150px;
}
*
/* *General Information */

.general-information {
  display: flex;
  width: 100%;
  margin: auto;
}

.general-information-grid-container {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 80%;
  min-height: 50vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "box1a box2a"
    "box3a box4a";
  gap: 1rem;
  margin: auto;
}
.box1a {
  grid-area: box1a;
}
.box2a {
  grid-area: box2a;
}
.box3a {
  grid-area: box3a;
}
.box4a {
  grid-area: box4a;
}

.installator-image-wrapper {
  width: 100%;
  height: auto;
  display: flex;
}

.installator-image-png {
  width: 60%;
  margin: auto;
  min-width: 375px;
}

.installator-information {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.installator-header {
  width: 100%;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: start;
}

.installator-text {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  padding-right: 20rem;
  text-align: start;
}

.installator-information-redirect {
  padding: 1rem;
  text-decoration: none;
  color: #e99a10;
  font-weight: 450;
  border: 2px solid #e99a10;
  align-self: flex-start;
  margin-top: 1rem;
  border-radius: 2rem;
}

.installator-information-redirect:hover {
  background-color: #e99a10;
  color: #ffffff;
}

.energy-sharing-image-wrapper {
  width: 100%;
  height: auto;
  display: flex;
}

.energy-sharing-image-png {
  width: 60%;
  margin: auto;
  min-width: 375px;
}

.energy-sharing-information {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: end;
}

.energy-sharing-header {
  width: 100%;
  font-weight: 400;
  font-size: 2.5rem;
}

.energy-sharing-text {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  padding-left: 25rem;
}

.energy-sharing-redirect {
  padding: 1rem;
  text-decoration: none;
  color: #e99a10;
  font-weight: 450;
  border: 2px solid #e99a10;
  align-self: center;
  margin-top: 1rem;
  border-radius: 2rem;
  margin-left: 9.5rem;
}

.energy-sharing-redirect:hover {
  background-color: #e99a10;
  color: #ffffff;
}

/* *Collaborators Section */

/* *Contact Section */

.contact {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 300px;
  margin: auto;
}

.grid-container-contact {
  display: grid;
  justify-content: center;
  align-items: center;
  place-content: center;
  width: 100%;
  min-height: 50vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-template-areas:
    "box1 box2"
    "box3 box3";
  margin: auto;
  column-gap: 1rem;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

/* *Newsletter* */

.newsletter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 50%;
  height: 100%;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 40%;
  overflow: hidden;
  margin: 1em 0;
}

.name-container {
  position: relative;
  width: 100%;
}

#newsletterName {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.newsletterNameLabel {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.newsletterNameLabel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #88b04b;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

#newsletterName:focus + .newsletterNameLabel .content-name,
#newsletterName:valid + .newsletterNameLabel .content-name {
  transform: translateY(-65%);
  color: #88b04b;
  font-weight: 400;
}

#newsletterName:focus + .newsletterNameLabel::after,
#newsletterName:valid + .newsletterNameLabel::after {
  transform: translateX(0%);
}

.surname-container {
  position: relative;
  width: 100%;
}

#newsletterSurname {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.newsletterSurnameLabel {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.newsletterSurnameLabel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #88b04b;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-surname {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

#newsletterSurname:focus + .newsletterSurnameLabel .content-surname,
#newsletterSurname:valid + .newsletterSurnameLabel .content-surname {
  transform: translateY(-65%);
  color: #88b04b;
  font-weight: 400;
}

#newsletterSurname:focus + .newsletterSurnameLabel::after,
#newsletterSurname:valid + .newsletterSurnameLabel::after {
  transform: translateX(0%);
}

.email-container {
  position: relative;
  width: 100%;
}

#newsletterEmail {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.newsletterEmailLabel {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.newsletterEmailLabel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #88b04b;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-email {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

#newsletterEmail:focus + .newsletterEmailLabel .content-email,
#newsletterEmail:valid + .newsletterEmailLabel .content-email {
  transform: translateY(-65%);
  color: #88b04b;
  font-weight: 400;
}

#newsletterEmail:focus + .newsletterEmailLabel::after,
#newsletterEmail:valid + .newsletterEmailLabel::after {
  transform: translateX(0%);
}

.submitNewsletter {
  align-self: center;
  margin: 1rem 0;
  padding: 5px;
  background-color: #88b04b;
  border: none;
  color: white;
  font-size: 16px;
}

.submitNewsletter:hover {
  background-color: #6c8c3c;
}

/* *Contact Image */

.contact-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.newsletter-image {
  max-width: 40vh;
}

/*  *Social Media Links */

.social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  margin-top: 1rem;
}

.social-media-links {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  margin: 1rem auto 0 auto;
}

.social-media-links img {
  width: 100%;
  height: 2.3em;
}

/* *Footer Section */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 5em;
  padding: 0;
}

.footer-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  color: black;
}

.footer-links a {
  text-decoration: none;
}

.copyright {
  margin: 1rem 0;
}

/* *Hidden Displays */

.hidden {
  display: none;
}

/* *Mobile Display */

@media screen and (max-width: 375px) {
  .landing-image {
    min-height: 50vw;
  }

  .main-title {
    top: 30%;
    left: 10%;
    padding: 0.2rem;
    font-size: 2em;
    font-weight: 500;
    max-width: 50%;
    min-height: 100px;
  }

  .installator-section-redirect {
    left: 18%;
    top: 41%;
    font-size: 1.2em;
    padding: 0.3rem;
    font-weight: 400;
    max-width: 50%;
  }

  .community-section-redirect {
    left: 18%;
    top: 46%;
    font-size: 1.2em;
    padding: 0.3rem;
    max-width: 50%;
  }

  .contact {
    flex-direction: column;
  }

  .grid-container-contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.3fr;
    grid-template-areas:
      "box1"
      "box2"
      "box3";
    place-items: center;
  }

  .newsletter {
    margin-top: 2rem;
  }

  .newsletter-form {
    margin: auto;
    min-width: 50%;
  }

  .social-media-links {
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
  }

  .footer-links {
    width: 100%;
    justify-content: space-evenly;
  }

  .general-information {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: auto;
  }

  .general-information-grid-container {
    grid-template-columns: 0.3fr;
    grid-template-rows: repeat(4, 0.5fr);
    grid-template-areas:
      "box1a"
      "box2a"
      "box4a"
      "box3a";
    justify-items: start;
    align-items: flex-start;
    width: 100%;
  }

  .installator-image-wrapper {
    max-width: 100%;
    margin: 0;
  }

  .installator-image-png {
    max-width: 100%;
    margin: 0;
  }

  .installator-information {
    justify-content: start;
    align-items: start;
  }

  .installator-header {
    width: 100%;
    margin-left: 0.5rem;
  }

  .installator-text {
    width: 90%;
    text-align: left;
    padding: 0;
    margin-left: 0.5rem;
  }

  .installator-information-redirect {
    align-self: start;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }

  .energy-sharing-image-wrapper {
    max-width: 100%;
    margin: 0;
  }

  .energy-sharing-image-png {
    max-width: 100%;
    margin: 1.5rem 0;
  }

  .energy-sharing-information {
    justify-content: start;
    align-items: start;
  }

  .energy-sharing-header {
    width: 100%;
    margin-left: -0.4rem;
  }

  .energy-sharing-text {
    width: 90%;
    text-align: left;
    padding: 0;
    margin-left: 0.5rem;
  }

  .energy-sharing-redirect {
    align-self: start;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  }

  .collaborators {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
    background-color: #4b88b0;
  }

  .collaborators-header h2 {
    color: #ffffff;
    font-weight: 300;
    margin-top: 2rem;
  }

  .collaborators-wrapper {
    width: 60%;
  }

  .collaborators-icons {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    grid-template-areas:
      "logo1 logo2"
      "logo3 logo4";
    width: 100%;
    height: 50vh;
    gap: 2rem;
  }

  .collaborator-logo-1 {
    grid-area: logo1;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(170deg)
      brightness(103%) contrast(101%);
  }
  .collaborator-logo-2 {
    grid-area: logo2;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(170deg)
      brightness(103%) contrast(101%);
  }
  .collaborator-logo-3 {
    grid-area: logo3;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(170deg)
      brightness(103%) contrast(101%);
  }
  .collaborator-logo-4 {
    grid-area: logo4;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(170deg)
      brightness(103%) contrast(101%);
  }
}
