/* *Main */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
}

/* *NAVIGATION BAR  */

.topNavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6fb04b;
  color: white;
  font-size: 20px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.enCo-Logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navigationBar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navigationBar-links li {
  list-style: none;
}

.navigationBar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navigationBar-links li:hover {
  background-color: yellowgreen;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 950px) {
  .toggle-button {
    display: flex;
  }

  .navigationBar-links {
    display: none;
    width: 100%;
  }

  .topNavigationBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigationBar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navigationBar-links li {
    text-align: center;
  }

  .navigationBar-links li a {
    padding: 0.5rem 0.1rem;
  }

  .navigationBar-links.active {
    display: flex;
  }
}

/* *Carousel */

.carousel-container {
  width: 100%;
  margin: auto;
  border: 5px solid black;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 1920px;
  height: 1080px;
}

/* *INITIAL GREETING WITH ANIMATIONS */

.initial-greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 670px;
}

.initial-phrase {
  animation-duration: 3s;
}

.mainCompanyTitle {
  animation-duration: 4s;
  position: relative;
  left: 30px;
  font-size: 2rem;
}

.initial-image {
  right: 200px;
}

/* *GENERAL INFORMATION SECTION */

.general-information {
  background: linear-gradient(to right, #76b852, #8dc26f);
  width: 100%;
  min-height: 40vh;
  padding: 50px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
}

.installator-container {
  position: relative;
  margin: 5px;
}

.installator-container img {
  max-width: 300px;
  height: 500px;
  filter: brightness(65%);
  border-radius: 2rem;
}

.installator-image-text {
  position: absolute;
  top: 14.5rem;
  left: 2rem;
  color: #ffffff;
  font-size: 1.35em;
}

.renewable-plant-container {
  position: relative;
  display: none;
}

.renewable-plant-container img {
  max-width: 300px;
  height: 500px;
  filter: brightness(65%);
}

.renewable-plant-image-text {
  position: absolute;
  top: 14rem;
  left: 2.5rem;
  color: #ffffff;
  font-size: 23px;
}

.renewable-community-container {
  position: relative;
  margin: 5px;
}

.renewable-community-container img {
  max-width: 300px;
  height: 500px;
  filter: brightness(65%);
  border-radius: 2rem;
}

.renewable-community-image-text {
  position: absolute;
  top: 14.5rem;
  left: 3.5rem;
  color: #ffffff;
  font-size: 1.35em;
  width: 200px;
}

.general-information img:hover {
  box-shadow: 6px 6px 10px black;
  cursor: pointer;
}

.installator-information-text h4 {
  text-decoration: underline;
}

.installator-information-text {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 2rem;
}

.installator-section-redirect {
  background: #fa7921;
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
  padding: 0.8rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
}

.installator-section-redirect:hover {
  background-color: #ffb627;
}

.community-information-text {
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.community-information-text h4 {
  text-decoration: underline;
}

.community-section-redirect {
  background: #fa7921;
  border: 0.1rem solid #ffffff;
  border-radius: 1rem;
  padding: 0.8rem;
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.community-section-redirect:hover {
  background-color: #ffb627;
}

/* *Contact Section */

.contact {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
}

.grid-container-contact {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 100px;
  grid-template-areas:
    "box1 box2"
    "box3 box3";
  margin: 1rem 5rem 0;
  column-gap: 1rem;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

/* *Newsletter* */

.newsletter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: auto;
  width: 300px;
  overflow: hidden;
  margin: 1em 0;
}

.name-container {
  position: relative;
  width: 100%;
}

#newsletterName {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.newsletterNameLabel {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.newsletterNameLabel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #88b04b;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

#newsletterName:focus + .newsletterNameLabel .content-name,
#newsletterName:valid + .newsletterNameLabel .content-name {
  transform: translateY(-65%);
  color: #88b04b;
  font-weight: 400;
}

#newsletterName:focus + .newsletterNameLabel::after,
#newsletterName:valid + .newsletterNameLabel::after {
  transform: translateX(0%);
}

.surname-container {
  position: relative;
  width: 100%;
}

#newsletterSurname {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.newsletterSurnameLabel {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.newsletterSurnameLabel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #88b04b;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-surname {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

#newsletterSurname:focus + .newsletterSurnameLabel .content-surname,
#newsletterSurname:valid + .newsletterSurnameLabel .content-surname {
  transform: translateY(-65%);
  color: #88b04b;
  font-weight: 400;
}

#newsletterSurname:focus + .newsletterSurnameLabel::after,
#newsletterSurname:valid + .newsletterSurnameLabel::after {
  transform: translateX(0%);
}

.email-container {
  position: relative;
  width: 100%;
}

#newsletterEmail {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
}

.newsletterEmailLabel {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.newsletterEmailLabel::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #88b04b;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-email {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

#newsletterEmail:focus + .newsletterEmailLabel .content-email,
#newsletterEmail:valid + .newsletterEmailLabel .content-email {
  transform: translateY(-65%);
  color: #88b04b;
  font-weight: 400;
}

#newsletterEmail:focus + .newsletterEmailLabel::after,
#newsletterEmail:valid + .newsletterEmailLabel::after {
  transform: translateX(0%);
}

.submitNewsletter {
  align-self: center;
  margin: 1rem 0;
  padding: 5px;
  background-color: #88b04b;
  border: none;
  color: white;
  font-size: 16px;
}

.submitNewsletter:hover {
  background-color: #6c8c3c;
}

/* *Contact Image */

.contact-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*  *Social Media Links */

.social-media {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100px;
  margin-top: 1rem;
}

.social-media-links {
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.social-media-links img {
  width: 100%;
  height: 2.3em;
}

/* *Footer Section */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 5em;
  padding: 0;
}

.footer-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  list-style: none;
}

.footer-links a {
  text-decoration: none;
}

.copyright {
  margin: 1rem 0;
}

/* *Hidden Displays */

.hidden {
  display: none;
}
