* {
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


.topNavigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #228B22;
    color: white;
    font-size: 20px;
    position: fixed;
    z-index: 2;
    width: 100%;
    border-bottom: 1.5px solid black;
}

.enCo-Logo {
    font-size: 1.5rem;
    margin: .5rem;
}

.navigationBar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navigationBar-links li { 
    list-style: none;
}

.navigationBar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navigationBar-links li:hover {
    background-color: yellowgreen;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 950px) {
    .toggle-button {
        display: flex;
    }

    .navigationBar-links {
        display: none;
        width: 100%;
    }

    .topNavigationBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigationBar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navigationBar-links li {
        text-align: center;
    }

    .navigationBar-links li a {
        padding: .5rem .1rem;
    }

    .navigationBar-links.active {
        display: flex;
    }
}


.initial-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.initial-phrase {
    animation-duration: 3s;
}

.mainCompanyTitle {
    animation-duration: 4s;
    position: relative;
    left: 30px;
    font-size: 2rem;
}

.initial-image {
    right: 200px;
}

.general-information {
    background-color: #228B22;
    width: 100%;
    height: 600px;
    padding: 50px;
}

.installator-container {
    position: relative;
}

.installator-container img {
    max-width: 300px;
    height: 500px;
    filter: brightness(75%);
}

.installator-image-text {
    position: absolute;
    top: 14rem;
    left: 1rem;
    color: #ffffff;
    font-size: 23px ;
}

