/* *Main */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
}

/* *NAVIGATION BAR  */

.topNavigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6fb04b;
  color: white;
  font-size: 20px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.enCo-Logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navigationBar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navigationBar-links li {
  list-style: none;
}

.navigationBar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navigationBar-links li:hover {
  background-color: yellowgreen;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 950px) {
  .toggle-button {
    display: flex;
  }

  .navigationBar-links {
    display: none;
    width: 100%;
  }

  .topNavigationBar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigationBar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navigationBar-links li {
    text-align: center;
  }

  .navigationBar-links li a {
    padding: 0.5rem 0.1rem;
  }

  .navigationBar-links.active {
    display: flex;
  }
}
